[Unit]
Description=GNOME session manager
After=xorg.target
Conflicts=gnome-sound-applet.service

[Service]
BusName=org.gnome.SessionManager
ExecStart=/usr/bin/gnome-session

[Install]
WantedBy=gnome.target
