[Unit]
Description=The GNOME session manager
After=xorg.target
Requires=dbus.socket

[Service]
Environment=DESKTOP_SESSION=gnome
BusName=org.gnome.SessionManager
ExecStart=/usr/bin/gnome-session

[Install]
WantedBy=gnome.target
