[Unit]
Description=mpDris2
Wants=mpd.service
PartOf=gnome-settings-daemon.service
After=gnome-settings-daemon.service

[Service]
BusName=org.mpris.MediaPlayer2.mpd
ExecStart=/usr/bin/mpDris2

[Install]
WantedBy=default.target
WantedBy=mpd.service
