[Unit]
Description=window manager ii
After=xorg.target
After=environment.target

[Service]
ExecStart=/usr/bin/wmii
ExecStop=/usr/bin/wmiir xwrite /ctl quit

KillMode=process
Restart=always
RestartSec=1
